<section class="hero">
  <div class="hero-bg">
    <a class="attribution" href="{{ labels.common.hero.cover.attribution.link }}" target="_blank">
      {{{ labels.common.hero.cover.attribution.text }}}
    </a>
  </div>
  <h1>
    <span>It's time to grow on</span>
    <span>music <s>theory</s> <u>knowledge</u>.</span>
  </h1>
  <div class="actions">
    <a href="#" class="action">{{ labels.links.course }}</a>
    <a href="#" class="action">{{ labels.links.lessons }}</a>
  </div>
</section>