<button class="navToggler" aria-label="Toggle Navigation" type="button"></button>
<nav class="nav">
  <ul class="sections">
    <li>
      <a href="{{ getUrl '' }}">{{ translate 'nav.home' language }}</a>
    </li>
  </ul>
</nav>