.course-list {
  list-style: none;
  line-height: 1.616;
}

.section.lesson {
  --title-font-size: 3rem;
  .container {
    .content {
      header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h1 {
          font-size: var(--title-font-size);
          line-height: 1;
        }
        time {
          text-transform: uppercase;
          font-size: 0.9rem;
        }
        figure {
          img {
            aspect-ratio: 16/9;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &.loaded {
              opacity: 1;
            }
          }
        }
      }
      gap: 2rem;
      max-width: min(var(--copy-text-width), 90vw);

      h2 {
        font-size: 2rem;
      }

      p,
      ul,
      ol {
        line-height: 1.616;
        font-size: 1.2rem;
      }

      ul,
      ol {
        padding-left: 1.2rem;
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      @media screen and (max-width: 820px) {
        flex-direction: column;
      }
      .lesson-link {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 1.2rem;
        line-height: 3rem;
        img {
          max-width: 100%;
        }
        @media screen and (max-width: 820px) {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 820px) {
    --title-font-size: 2rem;
  }
}
