.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  z-index: 1;
  padding: 0 2rem;
  letter-spacing: 0.02rem;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s ease-in-out;
  background-color: var(--background-color-dark);
  z-index: 10;

  a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 0.9rem;
    &:hover {
      text-decoration: underline;
    }
    &.current {
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    &.sections {
      gap: 2rem;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 820px) {
  .nav {
    opacity: 1;
    transform: translateY(-100%);
    height: auto;
    inset: 0;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--background-color-dark);

    ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
      gap: 1.5rem;
      li {
        width: 100%;
        a {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
