@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("./nav.css");
@import url("./hero.css");
@import url("./course.css");

:root {
  --accent-color: #ff9505;
  --background-color-dark: #221f20;

  --color-dark: rgb(25, 25, 25);
  --color-light: rgb(240, 240, 240);

  --navbar-height: 3rem;
  --nav-toggler-size: 4rem;

  --sans-serif:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --heading: Jost, --sans-serif;
  --filter-light: invert(100%) sepia(0%) saturate(0%) hue-rotate(283deg)
    brightness(108%) contrast(100%);

  --page-text-width: 1024px;
  --copy-text-width: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--sans-serif);
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 90vh;
}

body:not(.page-index) {
  main {
    padding-top: var(--navbar-height);
  }
}

.navToggler {
  display: none;
}

.page-index:not(.isNavOpen) {
  .nav {
    opacity: 0;
    background-color: transparent;
    &.scrolled {
      opacity: 1;
      background-color: var(--background-color-dark);
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

body {
  @media screen and (max-width: 820px) {
    &:not(.page-homepage) {
      main {
        padding-top: 0;
      }
    }
    .navToggler {
      position: fixed;
      top: 0;
      right: 0;
      appearance: none;
      background: none;
      border: none;
      width: var(--nav-toggler-size);
      height: var(--nav-toggler-size);
      display: flex;
      place-items: center;
      z-index: 12;
      background-image: url("./assets/icons/menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(var(--nav-toggler-size) * 0.8);
      transition: filter 0.3s ease-in-out;
    }

    &.isNavOpen {
      overflow: hidden;
      .nav {
        transform: translateY(0);
      }
      .navToggler {
        background-image: url("./assets/icons/close.svg");
        filter: var(--filter-light);
      }
    }
  }
}

a {
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
.action {
  font-family: var(--heading);
  letter-spacing: -0.025rem;
  font-optical-sizing: auto;
  font-weight: 700;
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-dark);
  color: var(--color-light);
  a {
    color: var(--color-light);
  }
}

.section {
  .container {
    .content {
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: min(var(--page-text-width), 95vw);
      margin: 0 auto;
      .block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3.5rem;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s ease-in-out;
  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-dark),
      var(--accent-color) 30%
    );
  }
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  letter-spacing: 0;
}

.page-index {
  .section {
    &:nth-of-type(odd) {
      background-color: var(--background-color-dark);
      color: var(--color-light);
    }
  }
}
