@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("./nav.css");
@import url("./hero.css");

:root {
  --background-color: #f0a944;
  --background-color-dark: #221f20;

  --color-dark: rgb(25, 25, 25);
  --color-light: rgb(240, 240, 240);

  --navbar-height: 3rem;
  --nav-toggler-size: 4rem;

  --serif: "Cormorant Garamond", serif;
  --sans-serif:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --filter-light: invert(100%) sepia(0%) saturate(0%) hue-rotate(283deg)
    brightness(108%) contrast(100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--sans-serif);
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navToggler {
  display: none;
}

.page-dark {
  .nav {
    color: var(--color-light);
  }
}

.page-light {
  .nav {
    color: var(--color-dark);
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

body {
  @media screen and (max-width: 820px) {
    &:not(.page-homepage) {
      main {
        padding-top: 0;
      }
      .navToggler {
        filter: var(--filter-light);
      }
    }
    .navToggler {
      position: fixed;
      top: 0;
      right: 0;
      appearance: none;
      background: none;
      border: none;
      width: var(--nav-toggler-size);
      height: var(--nav-toggler-size);
      display: flex;
      place-items: center;
      z-index: 5;
      background-image: url("./assets/icons/menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(var(--nav-toggler-size) * 0.8);
      transition: filter 0.3s ease-in-out;
    }

    &.isNavOpen {
      overflow: hidden;
      .nav {
        transform: translateY(0);
      }
      .navToggler {
        background-image: url("./assets/icons/close.svg");
        filter: var(--filter-light) !important;
      }
    }
  }
}

a {
  color: var(--color-dark);
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-dark);
  color: var(--color-light);
  a {
    color: var(--color-light);
  }
}

.section {
  .container {
    .content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
